[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "==25.1.0"
flask = "==3.1.2"
gunicorn = "==23.0.0"
matplotlib = "==3.10.6"
numpy = "==2.3.3"
pandas = "==2.3.2"
requests = "==2.32.5"
scikit-learn = "==1.7.2"
seaborn = "==0.13.2"
tqdm = "==4.67.1"
jupyter = "*"
nbstripout = "*"

[dev-packages]
black = {extras = ["jupyter"], version = "*"}

[requires]
python_version = "3.13"
